		<div class="panel">
			<div class="panel-t">学校列表</div>
			<div class="panel-con">
				<ul class="block-list clearfix">
					<% @schools.each do |school| %>
					<li>
						<%= link_to school.name, school_ks_path(school), :class => "block" %>
						<p>
							<%= link_to '修改', edit_school_path(school) %>
							<%= link_to '删除', school, method: :delete, data: { confirm: '确定删除吗？' } %>
						</p>
					</li>
					<% end %>
					<li class="add-new">
						<%= link_to '添加学校', new_school_path, :class => "block" %>
					</li>
				</ul>
			</div>
		</div>