html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ul,li,ol{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:0;padding:0;}
input,select{margin: 0;padding: 0;border-style: none;} /*-webkit-appearance: none;*/
em,strong,th{font-style:normal;}
input[type="search"]{-webkit-appearance:none;}
input[type="submit"]{-webkit-appearance:none;background-color:transparent;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button{display:none;}

body{line-height:22px;font-family:Arial,Helvetica,LiHei Pro Medium;font-size:12px;color:#000;-webkit-text-size-adjust:none;}
a{color:#8e8e8e;text-decoration:none;}
a:hover{color:#00a2e9;}

.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix { height:1%; /* End hide from IE-mac */ } 
/* ie7 hack*/ 
*+html .clearfix { min-height:1%; } 
.clearfix{zoom:1;}

.wapper{margin:0 auto;width:1003px;text-align:left;}
#Container{}
#top{height:80px;background:url(/assets/mem_t_bg.png) repeat-x;text-align:center;}
.top{position:relative;}
.logo{position:absolute;top:8px;left:10px;}
.t-title{position:absolute;top:30px;left:158px;}
.top span{position:absolute;top:10px;right:40px;}
.top span a{margin:0 8px;}

#PageBody{padding:10px;}
.menu{float:left;display:inline;width:212px;}
.menu-t{height:40px;background:url(/assets/mem_menu_t.png) no-repeat;}
.menu-list{border:1px solid #71a830;border-top:0;border-bottom:0;}
.menu-list li{background:url(/assets/mem_menu_bg.png) no-repeat;}
.menu-list li.cur{background:url(/assets/mem_menu_bg_h.png) no-repeat;}
.menu-list li a{display:block;padding-left:42px;height:39px;line-height:39px;font-size:14px;color:#FFF;letter-spacing:2px;}
.menu-list li a:hover{}

.main{float:right;display:inline;width:756px;}
.panel{}
.panel-m10{margin-top:10px;}
.panel-t{padding:13px 0 11px 50px;height:16px;line-height:16px;background:url(/assets/box_t_bg.png) no-repeat;font-weight:bold;font-size:14px;color:#5c9716;}
.panel-con{min-height:160px;background:#f3f3f3;border:1px solid #dee0dd;border-top:0;}
.panel-con h5{padding:30px 0 0 50px;}

#Footer{height:40px;background:url(/assets/mem_t_bg.png) repeat-x;}

input.ipt{padding:2px 4px;line-height:20px;border:1px solid #CCC;}
input.sbt{padding:4px 30px;line-height:16px;border:1px solid #CCC;background:#FFF;color:#000;cursor:pointer;}

.block-list{padding:0px 0 40px 25px;}
.block-list li{float:left;display:inline;margin-top:30px;margin-left:20px;width:150px;}
.block-list a.block{display:table-cell;width:150px;height:150px;border:1px solid #CCC;text-align:center;background:#EEE;vertical-align:middle;}
.block-list a.block:hover{background:#FFF;border:1px solid #CCC;}
.block-list li.add-new a.block{border:1px dashed #CCC;background:#FFF;}
.block-list li p{padding:4px 0;height:20px;line-height:20px;text-align:center;}
.block-list li p a{margin:0 6px;}

.form{padding:50px 0 20px 100px;}
.form p{padding:10px 0;line-height:20px;}
.form p span{display:inline-block;padding:0 10px 0 0;width:100px;text-align:right;}
.form p .sbt{margin-left:110px;}

.link_btn{padding:30px 50px 0 0;text-align:right;}
.link_btn a{display:inline-block;margin:0 6px;padding:4px 0;width:60px;height:16px;line-height:16px;border:1px solid #CCC;background:#FFF;text-align:center;}


.member-form{padding:50px 0 20px 100px;}
.member-form p{padding:10px 0;line-height:20px;}
.member-form p span{display:inline-block;padding:0 10px 0 0;width:100px;text-align:right;}
.member-form p .sbt{margin-left:110px;}

.members-list{padding:30px 50px;}
.members-list table{width:100%;border:1px solid #CCC;border-collapse:collapse;}
.members-list th, .members-list td{padding:5px 0;line-height:18px;border:1px solid #CCC;text-align:center;vertical-align:middle;}
.members-list th{background:#DDD;}
.members-list td{}
.members-list td a{margin:0 4px;}

.com-form{padding:30px 100px 20px 100px;}
.com-form table{width:100%;}
.com-form td{padding:4px 0;}
.com-form td.label{padding-right:10px;width:120px;text-align:right;}

.first-check-tb{border-collapse:collapse;border:1px solid #CCC;}
.first-check-tb td{text-align:center;border:1px solid #CCC;}


.member-con{padding:30px 50px;}
.member-con table{width:100%;border:1px solid #CCC;border-collapse:collapse;}
.member-con th, .member-con td{padding:5px 0;line-height:18px;border:1px solid #CCC;text-align:center;vertical-align:middle;}
.member-con th{background:#DDD;}
.member-con td.label{padding-right:10px;width:120px;text-align:right;}
.member-con td a{margin:0 4px;}

.member-con .c{padding:5px 10px;text-align:left;}

